@font-face {font-family: 'MonkyBasic';src: url('/fonts/MonkyBasic.otf')}
@font-face {font-family: 'RowoTypeface';src: url('/fonts/RowoTypeface.ttf')}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  position: relative;
}
header{
  .headerNav{
    position: absolute;
    right: 2%;
    top: 4%;
    z-index: 99;
    .menu{
      background: none;
      border: none;
    }
    .menu:focus{
      outline: 0;
    }
    .menu i{
      font-size: 50px;
      color: #fff;
    }
    .menuOpen{
      content: '';
      background: url('/images/menu_close.png');
      display: block;
      width: 66px;
      height: 48px;
    }
    .menuClose{
      content: '';
      background: url(/images/menu_open.png);
      display: block;
      width: 49px;
      height: 49px;
      position: absolute;
      right: 2%;
      top: 4%;
    }
    .overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 99;
      nav {
        font-family: 'MonkyBasic';
        text-align: center;
        position: relative;
        top: 50%;
        height: 60%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        height: 100%;
        position: relative;
        li {
          display: block;
          height: 20%;
          height: calc(100% / 5);
          min-height: 54px;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          a {
            font-size: 54px;
            font-weight: 300;
            display: block;
            color: #fff;
            -webkit-transition: color 0.2s;
            transition: color 0.2s;
            color: #0ccbcb;
          }
        }
      }
    }
    .overlay-slidedown {
      visibility: hidden;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
      transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
    }
    .overlay-slidedown.open {
      visibility: visible;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
      -webkit-transition: -webkit-transform 0.4s ease-in-out;
      transition: transform 0.4s ease-in-out;
      .menu i {
        color: #0ccbcb;
      }
    }
  }
}
main{
  .container{
    width: 1320px;
    margin: 0 auto;
    padding: 100px;
  }
  .row h2{
    font-family: 'MonkyBasic';
  }
  .row .desc{
    font-size: 24px;/*
    font-style: italic;*/
    font-weight: 600;
  }
  .row p:not(desc){
    font-size: 20px;
    font-weight: 300;
  }
}
footer{
  position: absolute;
  bottom: 4%;
  left: 2%;
  a{
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    border: 1px solid #fff;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
}

/* index page */
#index{
  background: #0ccbcb;
  font-family: 'MonkyBasic';
  text-align: center;
}
#index h1{
  font-size: 7.16vw;
  color: #fff;
  line-height: 1;
}
#index .ct01,
#index .ct02{
  font-family: 'RowoTypeface';
}
#index .ct01{
  font-size: 13.66vw;
  text-shadow: -10px 0px #268e8e;
}
#index .ct02{
  font-size: 22vw;
  padding-left: 12%;
  text-shadow: -17px 0px #268e8e;
  position: relative;
  bottom: -35px;
}
#index .intro{
  font-size: 1.95vw;
  color: #393939;
}
#index .socials{
  padding: 20px 0;
}
#index .socials li{
  float: left;
  padding: 0 7px;
}
#index .socials li a{
  display: block;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 24px;
  border: 1px solid #fff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: relative;
}
#index .socials li a span,
body footer a span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#index .socials li a:hover,
body footer a:hover{
  transition: background-color 0.5s ease;
  background: #fff;
  color: #0ccbcb;
}

/*about page*/
#about{
  background: #e9a1b9;
}
#about img{
  width: 90%;
}

/*works*/
#works{
  background: #ffc300;
}
#works h2,
#works .desc{
  text-align: center;
}
#works .gallery{
  margin: 20px 0;
}


@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }

  .overlay ul li {
    min-height: 34px; } }
