@font-face {
  font-family: 'MonkyBasic';
  src: url("/fonts/MonkyBasic.otf"); }
@font-face {
  font-family: 'RowoTypeface';
  src: url("/fonts/RowoTypeface.ttf"); }
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  position: relative; }

.noscroll #toggle {
  pointer-events: none; }

header .overlay ul li a {
  transition: color 0.5s cubic-bezier(0.57, 0.21, 0.69, 1.25); }
header.about .overlay ul li a {
  color: #e9a1b9; }
header.about .button_container.active span {
  background: #e9a1b9; }
header.works .overlay ul li a {
  color: #ffc300; }
header.works .button_container.active span {
  background: #ffc300; }
header.skills .overlay ul li a {
  color: #b9cb40; }
header.skills .button_container.active span {
  background: #b9cb40; }
header.contact .overlay ul li a {
  color: #333; }
header.contact .button_container.active span {
  background: #333; }
header .button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 46px;
  width: 65px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease; }
  header .button_container:hover {
    opacity: .7; }
  header .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #0ccbcb; }
  header .button_container.active .middle {
    opacity: 0;
    background: #0ccbcb; }
  header .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #0ccbcb;
    top: 23px; }
  header .button_container span {
    background: #fff;
    border: none;
    border-radius: 15px;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    header .button_container span:nth-of-type(2) {
      top: 20px; }
    header .button_container span:nth-of-type(3) {
      top: 40px; }
header .overlay {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 99; }
header .overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%; }
  header .overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s; }
  header .overlay.open li:nth-of-type(2) {
    animation-delay: .4s; }
  header .overlay.open li:nth-of-type(3) {
    animation-delay: .45s; }
  header .overlay.open li:nth-of-type(4) {
    animation-delay: .50s; }
header .overlay nav {
  position: relative;
  /*height: 70%;*/
  top: 50%;
  transform: translateY(-50%);
  font-size: 54px;
  font-family: 'MonkyBasic';
  text-align: center; }
header .overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%; }
  header .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0; }
    header .overlay ul li a {
      display: block;
      position: relative;
      color: #0ccbcb;
      text-decoration: none;
      overflow: hidden;
      padding: 20px; }
    header .overlay ul li a:hover {
      opacity: .6; }
header .overlay ul li a:hover:after,
header .overlay ul li a:focus:after,
header .overlay ul li a:active:after {
  width: 100%; }
header .overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s; }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }
main .container {
  /*padding: 0 100px;*/ }
main .row h2 {
  font-family: 'MonkyBasic';
  color: #fff;
  margin-bottom: 30px; }
main .row .desc {
  font-size: 20px;
                /*
font-style: italic;*/
  font-weight: 600;
  color: #fff; }
main .row p:not(desc) {
  font-size: 16px;
  font-weight: 300;
  color: #fff; }
main .slides {
  zoom: 1 !important; }
  main .slides canvas {
    transform: rotate(180deg); }
main .navigate-left {
  content: '';
  background: url(/images/arrow_prev.png) no-repeat;
  width: 53px;
  height: 17px;
  bottom: 7% !important;
  right: 5% !important; }
main .navigate-right {
  content: '';
  background: url(/images/arrow_next.png);
  width: 53px;
  height: 17px;
  bottom: 4% !important;
  right: 2% !important; }
main .controls-arrow:before,
main .controls-arrow:after {
  display: none; }
main .navigate-left.last-slide {
  bottom: 4% !important;
  right: 2% !important; }

footer {
  position: absolute;
  bottom: 4%;
  left: 2%;
  z-index: 9; }
  footer a {
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    border: 1px solid #fff;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    transition: background-color 0.5s ease; }
    footer a span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    footer a:hover {
      background: #fff;
      color: #0ccbcb; }
    footer a.about:hover {
      background: #fff;
      color: #e9a1b9; }
    footer a.works:hover {
      background: #fff;
      color: #ffc300; }
    footer a.skills:hover {
      background: #fff;
      color: #C2D53F; }
    footer a.contact:hover {
      background: #fff;
      color: #333; }

/* ------ index page ------ */
#index {
  font-family: 'MonkyBasic';
  text-align: center; }
  #index h1 {
    font-size: 7.16vw;
    color: #fff;
    line-height: 1; }
  #index .ct01,
  #index .ct02 {
    font-family: 'RowoTypeface'; }
  #index .ct01 {
    font-size: 13.66vw;
    text-shadow: -10px 0px #268e8e; }
  #index .ct02 {
    font-size: 22vw;
    padding-left: 12%;
    text-shadow: -17px 0px #268e8e;
    position: relative;
    bottom: -35px; }
  #index .intro {
    font-size: 1.95vw;
    color: #393939; }
  #index .socials {
    padding: 20px 0; }
    #index .socials li {
      float: left;
      padding: 0 7px; }
      #index .socials li a {
        display: block;
        width: 50px;
        height: 50px;
        color: #fff;
        font-size: 24px;
        border: 1px solid #fff;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        position: relative; }
        #index .socials li a i {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
        #index .socials li a:hover {
          transition: background-color 0.5s ease;
          background: #fff;
          color: #0ccbcb; }

/* ------ about page ------ */
#about img {
  width: 90%; }

/* ------ works page ------ */
#works h2,
#works .desc {
  text-align: center; }
#works .gallery {
  margin: 20px 0; }

/* ------ skills page ------ */
.title {
  font-weight: bold;
  font-size: 20px;
  color: #db3a34;
}

.bar {
  width: 90%;
  height: 35px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 2s linear;
}

.bar-1,
.my-skills {
  width: 80%;
  margin: 10px auto 25px;
}

.bar-inner {
  width: 0;
  height: 35px;
  line-height: 35px;
  background: #db3a34;
  border-radius: 5px 0 0 5px;
}

.bar-percent {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 18px;
}
/* ------ contact page ------ */
@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }

  .overlay ul li {
    min-height: 34px; } }

/*# sourceMappingURL=style.css.map */
